*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content_container{
    margin: auto;
    width: 1170px;
}

.header{
    margin-top: 30px;
}

.header-container_nav{
    display: flex;
    justify-content: space-between;
}


.nav-profile{
    display: flex;
    align-self: center;
}

.logo{
    margin-right: 57px;
    align-self: center;
}

.nav-flags{
    display: flex;
    align-self: center;
}

.profile-img{
    margin-left: 11px;
}

.nav-flags_links{
    margin-right: 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-self: center;
}

.hello{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    align-self: center;
}

/*2*/
.main-content_content{
    margin-top: 90px;
}
.left-side{
    width: 570px;
}

.avengers{
    color: white;
    opacity: 50%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 150%;
}

.title{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 23px;
    font-size: 36px;
}

.text{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 150%;
}